/* =============
    Section 5
============= */
#section-5 {
  #circ {
    #i {
      grid-area: id;
      margin: 2%;
      width: 96%;
    }
  }
  p {
    text-align: justify;
    margin: 5%;
    margin-top: 15%;
    font-weight: 300;
    font-size: rem-calc(15);
    line-height: rem-calc(25);
  }
  @include md {
    display: grid;
    grid-template-columns: 40 60%;
    grid-template-areas: "id p";
  }
  @include xl {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "id p";
    p {
      margin-top: 35%;
    }
  }
}