/* =============
    Section 2
============= */
p {

    padding-left: 5px;
    padding-right: 5px;
}

h3 {
    padding-left: 5px;
    padding-right: 5px;
}

#japan{

    img{
        width: 100%;
    }
}