/* =============
    Section 2
============= */
#section-2{
    
    img{
        width: 100%;
    }

    #section-2-conent{
        display: grid;
        grid-template-columns: 10% auto 10%;
        grid-template-areas:
        ". h3 ."
        ". p .";


        #article-1{
            grid-area: h3;
            grid-area: p;
        }
    }
}