/* =============
    Section 4
============= */
#section-4{

  img{
      width: 100%;   
      margin: 5px;
  }
    display: grid;
    
    grid-template-columns: 5% auto 5%;
    grid-template-areas: ". g .";

    #section-4-content{
      grid-area: g;
     }




     
     @include lg{
       ul{
     #one{
     img{
       width: 100%;
     }}}}

}