/* =============
    Section 1
============= */
#section-1{
background-image: url('../img/section-1/hero.png');
background-size: cover;
background-position: center;
height: 55vh; 

@include md{
    height: 65vh;
}
@include lg{
    height: 75vh;
}
@include xl{
    height: 85vh;
}
}