/* =============
    Section 3
============= */
#section-3{
    img{
        width: 100%;
    };
    #section-3-container{
        display: grid;
        grid-template-columns: 15px auto 15px;
        grid-template-areas:
        ". t .";
    
    

        #section-3-content{
            grid-area: t;
            text-align: center;
        }
        
    
    }
}
