/* =============
    Footer
============= */
footer{

    
        display: grid;
        grid-template-columns: 50% auto 40% 10%;
        grid-template-areas: ". i . d";
    
        #insta{
            
            img{
            grid-area: i;
            
            
        }}
    
        #copyrights{
            grid-area: d
        }
    }
    
    a{
        background-color: black;
    }



