/* =============
    Footer
============= */
footer {
  #insta img {
    grid-area: i;
  }
  #copyrights {
    grid-area: d;
  }
  background-color: $cyan;
  display: grid;
  grid-template-columns: 50% auto 35% 10%;
  grid-template-areas: ". i . d";
  #copyrights {
    color: $white;
  }
}